<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="org.eclipse.ui"
            class="at.bestsolution.bridge.iconview3x.IconViewPart"
            id="at.bestsolution.bridge.iconview3x.iconview"
            name="Icon View"
            restorable="true">
      </view>
   </extension>

</plugin>
